body{
  margin: 0;
}
/* App.css */

.App {
  text-align: center;
}

.songs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.MusicCard {
  width: 30%; /* Adjust as needed based on your design */
  margin: 10px; /* Adjust the margin to provide spacing between cards */
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .MusicCard {
    width: 45%; /* Adjust for smaller screens */
  }
}

@media (max-width: 576px) {
  .MusicCard {
    width: 100%; /* Adjust for even smaller screens */
  }
}
